.landing_home_main_container{
    background-image: linear-gradient(to bottom , #015FDF , #1199EE, #1ED2FC);
}

.landing_page_iconBox{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-image: linear-gradient(to bottom , #1ED2FC,  #0359d2 );
}

.side_bar_style{
    background-image: linear-gradient(to bottom , #1ED2FC, #1199EE,  #015FDF );
}

.reversed-icon {
    transform: scaleX(-1); 
}

.tooltiptext {
    /* visibility: hidden; */
    border-radius: 4px;
    padding: 10px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 10;
    /* bottom: 100%; */
    right: 0%;
    /* margin-top: 50px; */
    /* margin-left: -60px; */
    /* transform: translateX(-50%); */
    width: 100px;
    /* min-width: 200px; */
    background-color: white;
  }

.rdt_Table{
    overflow: visible;
}